Service/obj/Debug/Service.pdb
Service/obj/Debug/Service.dll
Service/obj/Debug/Service.csprojResolveAssemblyReference.cache
Service/obj/Debug/Service.csproj.FileListAbsolute.txt
Service/bin/Debug/Service.pdb
Service/bin/Debug/Service.dll
Service/bin/Debug/Infrastructure.pdb
Service/bin/Debug/Infrastructure.dll
Service/bin/Debug/Entity.pdb
Service/bin/Debug/Entity.dll
Service/bin/Debug/DataRepository.pdb
Service/bin/Debug/DataRepository.dll
Service/bin/Debug/Common.pdb
Service/bin/Debug/Common.dll
Print/obj/Debug/Print.pdb
Print/obj/Debug/Print.exe
Print/obj/Debug/Print.csproj.FileListAbsolute.txt
Print/bin/Debug/Print.pdb
Print/bin/Debug/Print.exe
Infrastructure/obj/Debug/Infrastructure.pdb
Infrastructure/obj/Debug/Infrastructure.dll
Infrastructure/obj/Debug/Infrastructure.csprojResolveAssemblyReference.cache
Infrastructure/obj/Debug/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/bin/Debug/Infrastructure.pdb
Infrastructure/bin/Debug/Infrastructure.dll
GuoChe/obj/Debug/GuoChe.pdb
GuoChe/obj/Debug/GuoChe.dll
GuoChe/obj/Debug/GuoChe.csprojResolveAssemblyReference.cache
GuoChe/bin/Service.pdb
GuoChe/bin/Service.dll
GuoChe/bin/Infrastructure.pdb
GuoChe/bin/Infrastructure.dll
GuoChe/bin/GuoChe.pdb
GuoChe/bin/GuoChe.dll
GuoChe/bin/Entity.pdb
GuoChe/bin/Entity.dll
GuoChe/bin/DataRepository.pdb
GuoChe/bin/DataRepository.dll
GuoChe/bin/Common.pdb
GuoChe/bin/Common.dll
Entity/obj/Debug/Entity.pdb
Entity/obj/Debug/Entity.dll
Entity/obj/Debug/Entity.csprojResolveAssemblyReference.cache
Entity/obj/Debug/Entity.csproj.FileListAbsolute.txt
Entity/bin/Debug/Entity.pdb
Entity/bin/Debug/Entity.dll
DataRepository/obj/Debug/DataRepository.pdb
DataRepository/obj/Debug/DataRepository.dll
DataRepository/obj/Debug/DataRepository.csprojResolveAssemblyReference.cache
DataRepository/obj/Debug/DataRepository.csproj.FileListAbsolute.txt
DataRepository/bin/Debug/Infrastructure.pdb
DataRepository/bin/Debug/Infrastructure.dll
DataRepository/bin/Debug/DataRepository.pdb
DataRepository/bin/Debug/DataRepository.dll
Common/obj/Debug/Common.pdb
Common/obj/Debug/Common.dll
Common/obj/Debug/Common.csprojResolveAssemblyReference.cache
Common/obj/Debug/Common.csproj.FileListAbsolute.txt
Common/bin/Debug/Common.pdb
Common/bin/Debug/Common.dll
GuoChe\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
Entity\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
DataRepository\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
GuoChe\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
Print\obj\Debug\Print.csprojResolveAssemblyReference.cache
GuoChe\obj\Debug\GuoChe.csproj.FileListAbsolute.txt
GuoChe\bin\GuoChe.dll.config 
GuoChe.v12.suo
Print/obj/Debug/Print.csprojResolveAssemblyReference.cache
GuoChe/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Entity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Print/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GuoChe/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DataRepository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataRepository/bin/Debug/Newtonsoft.Json.xml
DataRepository/bin/Debug/Newtonsoft.Json.dll
DataRepository/bin/Debug/Common.pdb
DataRepository/bin/Debug/Common.dll
GuoChe/bin/GuoChe.dll.config
