@{
    ViewBag.Title = "Success";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <style></style>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/layer.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.js" type="text/javascript"></script>
    <link href="~/source/layer.js" rel="stylesheet" />
    <title>国车集团-注册成功</title>
</head>
<body>
    <div style="background-color:#ECECEC; ">
        <table cellpadding="0" align="center" style="width: 100%; margin: 0px auto; text-align: left; position: relative; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;background:#fff;">
            <tbody>
                <tr>
                    <th valign="middle" style="height: 25px; line-height: 25px; padding: 15px 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #C46200; background-color: #007f41; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
                        <font face="微软雅黑" size="5" style="color: rgb(255, 255, 255); ">国车社区</font>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div style="padding:25px 35px 40px; background-color:#fff;">
                            <h2 style="margin: 5px 0px; "><font color="#333333" style="line-height: 20px; "><font style="line-height: 22px; " size="4">亲爱的国车用户：</font></font></h2>
                            <p>
                                欢迎加入国车社区<br />
                                我们提供各种新能源，家用车，货运车，商务车等，为您的居家生活，商务出行提供更加环保绿色的解决方案。<br />
                                移动式仓储,实时了解您的所在的位置，获取最优路线，第一时间满足您的需求。<br />
                                随时补充，智慧充电,我们提供遍布全国各个重点城市的智慧充电桩，为您的出行加油蓄力，保驾护航。<br />
                                服务热线： 400-666-2598<br />
                                国车集团——新能源绿色服务提供者
                            </p>
                            <p align="right">官方团队</p>
                            <p align="right"></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
